LICENSE*
README*
*.log
*.dxvk-cache
*.exe
*.dll
SPTarkov
sptarkov-3.11.3.7z
hc1/BepInEx/cache
hc1/BepInEx/core
hc1/BepInEx/patchers
hc1/BepInEx/plugins
hc1/EscapeFromTarkov_Data
hc1/Logs
hc1/ModSync_Data
hc1/MonoBleedingEdge
hc1/NLog
hc1/SPT_Data
hc1/doorstop_config.ini
hc1/user
hc2/BepInEx/cache
hc2/BepInEx/core
hc2/BepInEx/patchers
hc2/BepInEx/plugins
hc2/EscapeFromTarkov_Data
hc2/Logs
hc2/ModSync_Data
hc2/MonoBleedingEdge
hc2/NLog
hc2/SPT_Data
hc2/SPT_Patches
hc2/doorstop_config.ini
hc2/user
backend/SPT_Data/Server/checks.dat
backend/SPT_Data/Server/database
backend/SPT_Data/Server/images
package.json
src/
res/
SPT_Patches
.github
.releaserc
bundles.json
bundles/
.buildignore
backend/user/mods/MoxoPixel-BlackCore
backend/user/mods/TarkovHDRework/Licence.txt
db/
backend/user/mods/TarkovHDRework/disclaimer.pdf
backend/user/mods/TarkovHDRework/license.md
backend/user/mods/Virtual's Custom Quest Loader/WelcomeGifts_ISSUES_REPORT_Hub.url
backend/user/mods/Virtual's Custom Quest Loader/WelcomeGifts_LICENSE
backend/user/mods/Virtual's Custom Quest Loader/WelcomeGifts_README.md
locales/
backend/user/mods/Virtual's Custom Quest Loader
Disclaimer.url
backend/user/mods/aMoxoPixel-Painter/res
backend/user/mods/fika-server/assets/images
backend/user/mods/fika-server/assets/scripts
backend/user/mods/fika-server/cache
backend/user/mods/fika-server/tsconfig.types.json
backend/user/mods/redlaser42-Increase Climb Height/config ReadMe.txt
backend/user/profiles
backend/user/cache
backend/user/certs
backend/user/logs
backend/user/mods/Jehree-GildedKeyStorage/config/barters.json
backend/user/mods/Jehree-GildedKeyStorage/config/cases.json
backend/user/mods/Jehree-GildedKeyStorage/config/config.default.json5
backend/user/mods/lacyway-mergeconsumables/biome.json
backend/BepInEx/patchers
backend/BepInEx/plugins
backend/backups/
com.cactuspie.ramcleanerinterval.cfg
backend/user/mods/acidphantasm-stattrack/weaponStats.json
backend/user/mods/acidphantasm-stattrack/weaponStats.json.bak
xyz.drakia.questtracker.cfg
