## Settings file was created by plugin Corter ModSync v0.11.1
## Plugin GUID: corter.modsync

[General]

## Should the mod delete files that have been removed from the server?
# Setting type: Boolean
# Default value: true
Delete Removed Files = true

[Synced Paths]

## Should the mod attempt to sync files from ModSync.Updater.exe
# Setting type: Boolean
# Default value: true
(Builtin) ModSync Updater = true

## Should the mod attempt to sync files from BepInEx/plugins/Corter-ModSync.dll
# Setting type: Boolean
# Default value: true
(Builtin) ModSync Plugin = true

## Should the mod attempt to sync files from BepInEx/patchers
# Setting type: Boolean
# Default value: true
BepInEx/patchers = true

## Should the mod attempt to sync files from BepInEx/plugins
# Setting type: Boolean
# Default value: true
BepInEx/plugins = true

## Should the mod attempt to sync files from BepInEx/config
# Setting type: Boolean
# Default value: true
BepInEx/config = true

## Should the mod attempt to sync files from user/mods
# Setting type: Boolean
# Default value: false
(Optional) Server mods = false

